.sass-cache
.DS_Store
presentation/deck/css/theme/beige.css
presentation/deck/css/theme/default.css
presentation/deck/css/theme/night.css
presentation/deck/css/theme/serif.css
presentation/deck/css/theme/simple.css
presentation/deck/css/theme/sky.css
presentation/presentation.html