/* #CC */

	#cc span
	{
		color: #0095d7;	
	}
	

/* #SPOT */

	#spot h2, #spot .differences-group
	{
		position: absolute;
		width: 100%;
		top: -150px;
	}

	#spot .differences-group
	{
		top: 0;
	}

/* #GOOD */

	#good h1
	{
		position: relative;
	}

	#good h1 .fade-out
	{
		position: absolute;
		left: 14%;
	}

/* #WWW */

	#www img
	{
		width: 33.3333%;
		position: relative;
	}

	#www img.left
	{
		float: left;
	}

	#www img.right
	{
		float: right;
	}

	#www .browser
	{
		top: 130px;
	}

	#www .html
	{
		padding: 10%;
		width: 13.3333%;
		top: 76px;
	}

	#www .arrow
	{
		position: absolute;
		top: 62%;
	}

	#www .arrow.left
	{
		left: 36%;
	}

	#www .arrow.right
	{
		left: 60%;
	}

/* #HTML */

	#html code
	{	
		font-size: 1em;
	}

	#html pre
	{
		position: relative;
		top: -210px;
		margin-bottom: 20px;
	}

	#html img
	{
		position: relative;
		top: 185px;
		width: 130px;
	}

/* TOPIC */

	#topic iframe
	{
		border: 1px solid whitesmoke;
		background: white;
		transform: scale(1.3);
		position: relative;
		top: 60px;
		/*height: 366px;*/
	}

	#topic iframe.left
	{
		left: -70px;
	}

	#topic iframe.right
	{
		right: -70px;
	}

/* FLASH ANIMATION */

	@-webkit-keyframes flash {
		0%, 50%, 100% {opacity: 1;}	
		25%, 75% {opacity: 0;}
	}

	@-moz-keyframes flash {
		0%, 50%, 100% {opacity: 1;}	
		25%, 75% {opacity: 0;}
	}

	@-ms-keyframes flash {
		0%, 50%, 100% {opacity: 1;}	
		25%, 75% {opacity: 0;}
	}

	@-o-keyframes flash {
		0%, 50%, 100% {opacity: 1;}	
		25%, 75% {opacity: 0;}
	}

	@keyframes flash {
		0%, 50%, 100% {opacity: 1;}	
		25%, 75% {opacity: 0;}
	}

	.flash,
	.flash-slow,
	.flash-slower 
	{
		-webkit-animation-name: flash;
		-moz-animation-name: flash;
		-ms-animation-name: flash;
		-o-animation-name: flash;
		animation-name: flash;

		-webkit-animation-iteration-count: infinite; 
	}

	.flash
	{
		-webkit-animation-duration: 2s; 
	}

	.flash-slow
	{
		-webkit-animation-duration: 2.5s; 
	}

	.flash-slower
	{
		-webkit-animation-duration: 3s; 
	}
